<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Cymatics™ Blog™</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/authors">Authors List</a> |
      <a href="/authors/new">Add an Author</a> |
      <a href="/articles">Article List</a> |
      <a href="/articles/new">Add an Article</a>
    </nav>
  </header>

  <main>
    
