<%- include('../partials/header.ejs') %>

  <h2>Our wonderful authors</h2>

  <ul>
    <% authors.forEach(author => { %>
      <li>
        <a href="/authors/<%= author.id %>">
          <%= author.name %>        
        </a>
      </li>
    <% }) %>
  </ul>

<%- include('../partials/footer.ejs') %>