<%- include('../partials/header.ejs') %>

  <h2>Create a new Author</h2>

  <!-- this form should POST to /authors -->
  <form method="POST" action="/authors">
    <fieldset>
      <label for="name">Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter new Author name" 
      />
    </fieldset> 
    <button>Add Author</button>   
  </form>

<%- include('../partials/footer.ejs') %>